<head>
    <title>401</title>
    <style type="text/css">
        @import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400&display=swap");

        body {
            width: 100%;
            height: 100%;
            background: #dce3e6;
            font-family: "Josefin Sans", "Karla", monospace;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }

        #title {
            text-align: center;
            font-size: 40px;
            margin-top: 40px;
            margin-bottom: 0px;
            position: relative;
            color: rgb(0, 162, 255);
        }

        #first {
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 0px;
            position: relative;
            color: rgb(0, 0, 0);
        }

        .circles:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 150px;
            background: rgb(94, 255, 0);
            position: absolute;
            top: -80px;
            left: 0;
            animation: 19s wave infinite;
            transform: skewY(-4deg);
            -webkit-transform: skewY(-4deg);
        }

        .circles {
            background: rgb(94, 255, 0);
            text-align: center;
            position: relative;
            margin-top: 0vw;
            box-shadow: inset -1px -4px 4px rgba(0, 0, 0, 0.2);
        }

        .circles p {
            font-size: 240px;
            color: rgb(0, 0, 0);
            padding: 10px;
            position: relative;
            z-index: 9;
            line-height: 100%;
        }

        .circles p small {
            font-size: 11px;
            color: rgb(0, 0, 0);
            line-height: 100%;
            vertical-align: top;
        }

        .circles .circle.smallest {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #454b46af;
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 50%;
            animation: 9s smallestmove infinite cubic-bezier(1, 1, 0.71, 0.98);
            -webkit-animation: 9s smallestmove infinite cubic-bezier(1, 1, 0.71, 0.98);
            animation-delay: 0.1s;
            -webkit-animation-delay: 0.1s;
        }

        .circles .circle.small {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background: #d41051;
            position: absolute;
            z-index: 1;
            top: 80px;
            left: 50%;
            animation: 12s smallmove infinite cubic-bezier(1, 0.22, 0.71, 0.98);
            -webkit-animation: 12s smallmove infinite cubic-bezier(1, 0.22, 0.71, 0.98);
            animation-delay: 1.2s;
            -webkit-animation-delay: 1.2s;
        }

        .circles .circle.med {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: #0db18d;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 10%;
            animation: 7s medmove infinite cubic-bezier(0.32, 0.04, 0.15, 0.75);
            -webkit-animation: 7s medmove infinite cubic-bezier(0.32, 0.04, 0.15, 0.75);
            animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
        }

        .circles .circle.big {
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background: #ca0ad1c5;
            position: absolute;
            z-index: 1;
            top: 200px;
            right: 0;
            animation: 8s bigmove infinite;
            -webkit-animation: 8s bigmove infinite;
            animation-delay: 3s;
            -webkit-animation-delay: 1s;
        }

        /*--*/
        @keyframes wave {
            0% {
                transform: skewY(-4deg);
                -webkit-transform: skewY(-4deg);
            }

            12% {
                transform: skewY(-3deg);
                -webkit-transform: skewY(-3deg);
            }

            25% {
                transform: skewY(-3deg);
                -webkit-transform: skewY(-2deg);
            }

            37% {
                transform: skewY(-2deg);
                -webkit-transform: skewY(-2deg);
            }

            50% {
                transform: skewY(-0deg);
                -webkit-transform: skewY(-0deg);
            }

            63% {
                transform: skewY(-1deg);
                -webkit-transform: skewY(-1deg);
            }

            75% {
                transform: skewY(-2deg);
                -webkit-transform: skewY(-2deg);
            }

            88% {
                transform: skewY(-3deg);
                -webkit-transform: skewY(-3deg);
            }

            100% {
                transform: skewY(-4deg);
                -webkit-transform: skewY(-4deg);
            }
        }

        /*--*/
        /*--*/
        @-webkit-keyframes smallestmove {
            0% {
                top: 0%;
                left: 75%;
                opacity: 1;
            }

            12% {
                top: 60%;
                left: 0%;
                opacity: 1;
            }

            25% {
                top: 100%;
                left: 40%;
                opacity: 1;
            }

            37% {
                top: 60%;
                left: 50%;
                opacity: 1;
            }

            50% {
                top: 10%;
                left: 45%;
                opacity: 1;
            }

            63% {
                top: 5%;
                left: 95%;
                opacity: 1;
            }

            75% {
                top: 80%;
                left: 10%;
                opacity: 1;
            }

            88% {
                top: 100%;
                left: 40%;
                opacity: 1;
            }

            100% {
                top: 0%;
                left: 75%;
                opacity: 1;
            }
        }

        @keyframes smallestmove {
            0% {
                top: 0%;
                left: 75%;
                opacity: 1;
            }

            12% {
                top: 60%;
                left: 0%;
                opacity: 1;
            }

            25% {
                top: 100%;
                left: 40%;
                opacity: 1;
            }

            37% {
                top: 60%;
                left: 50%;
                opacity: 1;
            }

            50% {
                top: 10%;
                left: 45%;
                opacity: 1;
            }

            63% {
                top: 5%;
                left: 95%;
                opacity: 1;
            }

            75% {
                top: 80%;
                left: 10%;
                opacity: 1;
            }

            88% {
                top: 100%;
                left: 40%;
                opacity: 1;
            }

            100% {
                top: 0%;
                left: 75%;
                opacity: 1;
            }
        }

        /*--*/

        @-webkit-keyframes smallmove {
            0% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }

            12% {
                top: 80%;
                left: 59%;
                opacity: 1;
            }

            25% {
                top: 40%;
                left: 40%;
                opacity: 1;
            }

            37% {
                top: 20%;
                left: 30%;
                opacity: 1;
            }

            50% {
                top: 10%;
                left: 45%;
                opacity: 1;
            }

            63% {
                top: 25%;
                left: 55%;
                opacity: 1;
            }

            75% {
                top: 50%;
                left: 80%;
                opacity: 1;
            }

            88% {
                top: 100%;
                left: 40%;
                opacity: 1;
            }

            100% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }
        }

        @keyframes smallmove {
            0% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }

            12% {
                top: 80%;
                left: 59%;
                opacity: 1;
            }

            25% {
                top: 40%;
                left: 40%;
                opacity: 1;
            }

            37% {
                top: 20%;
                left: 30%;
                opacity: 1;
            }

            50% {
                top: 10%;
                left: 45%;
                opacity: 1;
            }

            63% {
                top: 25%;
                left: 55%;
                opacity: 1;
            }

            75% {
                top: 50%;
                left: 80%;
                opacity: 1;
            }

            88% {
                top: 100%;
                left: 40%;
                opacity: 1;
            }

            100% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }
        }

        @-webkit-keyframes medmove {
            0% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }

            12% {
                top: 40%;
                left: 10%;
                opacity: 1;
            }

            25% {
                top: 50%;
                left: 20%;
                opacity: 1;
            }

            37% {
                top: 70%;
                left: 70%;
                opacity: 1;
            }

            50% {
                top: 30%;
                left: 45%;
                opacity: 1;
            }

            63% {
                top: 25%;
                left: 55%;
                opacity: 1;
            }

            75% {
                top: 00%;
                left: 80%;
                opacity: 1;
            }

            88% {
                top: 40%;
                left: 90%;
                opacity: 1;
            }

            100% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }
        }

        @keyframes medmove {
            0% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }

            12% {
                top: 40%;
                left: 10%;
                opacity: 1;
            }

            25% {
                top: 50%;
                left: 20%;
                opacity: 1;
            }

            37% {
                top: 70%;
                left: 70%;
                opacity: 1;
            }

            50% {
                top: 30%;
                left: 45%;
                opacity: 1;
            }

            63% {
                top: 25%;
                left: 55%;
                opacity: 1;
            }

            75% {
                top: 00%;
                left: 80%;
                opacity: 1;
            }

            88% {
                top: 40%;
                left: 90%;
                opacity: 1;
            }

            100% {
                top: 10%;
                left: 75%;
                opacity: 1;
            }
        }

        @-webkit-keyframes bigmove {
            0% {
                top: 0px;
                right: 4%;
                opacity: 1;
            }

            25% {
                top: 100px;
                right: 40%;
                opacity: 1;
            }

            50% {
                top: 240px;
                right: 45%;
                opacity: 1;
            }

            75% {
                top: 100px;
                right: 35%;
                opacity: 1;
            }

            100% {
                top: 0px;
                right: 4%;
                opacity: 1;
            }
        }

        @keyframes bigmove {
            0% {
                top: 0px;
                right: 4%;
                opacity: 1;
            }

            25% {
                top: 100px;
                right: 40%;
                opacity: 1;
            }

            50% {
                top: 240px;
                right: 45%;
                opacity: 1;
            }

            75% {
                top: 100px;
                right: 35%;
                opacity: 1;
            }

            100% {
                top: 0px;
                right: 4%;
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <section id="serverError">
        <div id="title">401 Unauthorized</div>
        <div id="first">{{firstLine}}</div>
        <div class="circles">
            <p>
                401<br />
                <small>{{errCode}}</small>
            </p>
            <span class="circle big"></span>
            <span class="circle med"></span>
            <span class="circle small"></span>
            <span class="circle smallest"></span>
        </div>
    </section>
</body>