@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400&display=swap");

@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.energyblue.css";

html {
   background: #dce3e6;
   font-family: "Josefin Sans", monospace;
}

body > div > div > input {
   font-family: "Josefin Sans", monospace;
   width: 260px;
   height: 20px;
   border: black 1px solid;
   border-radius: 5px;
}
