@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400&display=swap");

@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.energyblue.css";

html {
   background: #dce3e6;
   font-family: "Josefin Sans", monospace;
   --headerURL: url("https://images.unsplash.com/photo-1526344966-89049886b28d?ixlib=rb-1.2.1&dpr=1&auto=format&fit=crop&w=416&h=312&q=60");
   --respHeaderURL: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
   --headerHeight: 100px;
   --headerHeightP20: 15px;
   --footerPadding: 10px;
}

/* header 1 */
body > div > header:nth-of-type(1) {
   position: sticky;
   top: 0;
   display: flex;
   flex-direction: row;
   background-color: hsla(12, 95%, 47%, 0.98);
   padding-top: 8px;
   height: 40px;
   z-index: 901;
}

/* BodyMappingSubheader */
body > div > header:nth-of-type(2) {
   position: sticky;
   top: 0;
   display: flex;
   flex-direction: row;
   background-color: rgb(250, 245, 198);
   padding-top: 4px;
   height: 20px;
   box-shadow: 0 8px 6px -6px black;
   z-index: 10;
}
/* ********************** */
/*  header 1 > section 1  */
body > div > header:nth-of-type(1) > section:nth-of-type(1) {
   display: flex;
   justify-content: space-around;
   width: 15vw;
   margin-top: -10px;
   margin-left: 15px;
}

/* header 1 > section 2  */
body > div > header:nth-of-type(1) > section:nth-of-type(2) {
   display: flex;
   justify-content: space-around;
   width: 65vw;
   margin-top: -10px;
}

/* header 1 > section 3  */
body > div > header:nth-of-type(1) > section:nth-of-type(3) {
   display: flex;
   justify-content: flex-end;
   width: 18vw;
   margin-top: -10px;
}

/* ************************************* */
/*  BodyMappingSubheader > section 1     */
body > div > header:nth-of-type(2) > section:nth-of-type(1) {
   display: flex;
   justify-content: space-around;
   width: 15vw;
   margin-top: -10px;
}

/* BodyMappingSubheader > section 2  */
body > div > header:nth-of-type(2) > section:nth-of-type(2) {
   display: flex;
   justify-content: space-around;
   width: 65vw;
   margin-top: -6px;
}

/* BodyMappingSubheader > section 3  */
body > div > header:nth-of-type(2) > section:nth-of-type(3) {
   display: flex;
   justify-content: flex-end;
   width: 18vw;
   margin-top: -10px;
}

/****header 1 navbar styling *********/
body > div > header:nth-of-type(1) > section:nth-of-type(2) > nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 6vh;
   width: 100%;
}

body > div > header:nth-of-type(1) > section:nth-of-type(2) > nav > ul {
   display: flex;
   justify-content: space-around;
   width: 100%;
}

body > div > header:nth-of-type(1) > section:nth-of-type(2) > nav > ul > li {
   list-style-type: none;
}

body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(2)
   > nav
   > ul
   > li
   > a {
   color: rgb(250, 245, 198);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 14px;
   transition: all 0.5s;
}

body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(2)
   > nav
   > ul
   > li
   > a:hover {
   color: rgb(255, 230, 0);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-size: 14px;
   border: solid yellow 1px;
   padding-top: 3px;
   padding-left: 2px;
}
/********* header 1 navbar styling end *********/

/**** BodyMappingSubheader navbar styling  begin *********/
body > div > header:nth-of-type(2) > section:nth-of-type(2) > nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 3.5vh;
   width: 100%;
}

body > div > header:nth-of-type(2) > section:nth-of-type(2) > nav > ul {
   display: flex;
   justify-content: space-around;
   width: 100%;
}

body > div > header:nth-of-type(2) > section:nth-of-type(2) > nav > ul > li {
   list-style-type: none;
}

body
   > div
   > header:nth-of-type(2)
   > section:nth-of-type(2)
   > nav
   > ul
   > li
   > a {
   color: hsla(12, 95%, 47%, 0.98);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 11px;
   transition: all 0.5s;
}

body
   > div
   > header:nth-of-type(2)
   > section:nth-of-type(2)
   > nav
   > ul
   > li
   > a:hover {
   color: hsla(12, 95%, 47%, 0.98);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   font-size: 12px;
   border: solid hsla(12, 95%, 47%, 0.98) 2px;
   padding-top: 3px;
   padding-left: 2px;
}
/********* BodyMappingSubheader navbar styling end *********/

/* Google Sign-in Button */
html > body > div > header:nth-of-type(1) > section:nth-of-type(3) > button {
   float: right;
   padding: 0;
   margin-top: 10px;
   width: 100px;
   height: 30px;
}

/* Google Sign-in button 'Sign In' words*/
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > button
   > div
   > div
   > span
   > span:nth-of-type(1) {
   font-family: "Josefin Sans", monospace;
   font-size: 11px;
   color: black;
   letter-spacing: 2px;
   margin-top: 22px;
   transition: all 0.5s;
}

/* Google Sign-in button 'Sign In' words on hover*/
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > button
   > div
   > div
   > span
   > span:nth-of-type(1):hover {
   font-size: 11.5px;
   color: yellow;
   margin-top: 15px;
   font-family: "Josefin Sans", monospace;
   letter-spacing: 2.2px;
   text-transform: uppercase;
}

.abcRioButtonContents {
   color: black;
   font-family: "Josefin Sans", monospace;
   letter-spacing: 2px;
   text-transform: uppercase;
}

/* words "Signed In" */
.abcRioButtonContents span:nth-of-type(2) {
   color: #e3dff8;
   font-family: "Josefin Sans", monospace;
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 10px;
}

/* Login photo figure after successful login */
html > body > div > header:nth-of-type(1) > section:nth-of-type(3) > figure {
   float: right;
   margin-top: 5px;
   height: 33px;
   transition: all 0.3s;
}

/* Login photo figure after successful login */
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > figure:hover {
   cursor: pointer;
   transform: scale(1);
   transition: all 0.3s;
   padding: 3px;
   border: 1px yellow solid;
   background: -webkit-linear-gradient(
      top,
      #058cf5 0%,
      #0385f3 19%,
      #0167e9 72%,
      #015de6 100%
   );
}

/* Login photo figure after successful login */
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > figure:not(:hover) {
   transform: scale(1);
   padding: 4px;
   transition: all 0.3s;
   background: -webkit-linear-gradient(
      top,
      #058cf5 0%,
      #0385f3 19%,
      #0167e9 72%,
      #015de6 100%
   );
}

/* Login photo caption after successful login */
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > figure
   > figcaption:not(:hover) {
   font-size: 11px;
   font-family: "Josefin Sans";
   color: rgb(250, 245, 198);
   text-transform: uppercase;
   transition: all 0.3s;
   margin-top: 4px;
}

/* Login photo caption after successful login */
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > figure
   > figcaption:hover {
   font-size: 11px;
   font-family: "Josefin Sans";
   color: yellow;
   text-transform: uppercase;
   transition: all 0.3s;
   margin-top: 4px;
}

/* Login photo image after successful login */
html
   > body
   > div
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > figure
   > img {
   width: 20px;
   height: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.jqx-notification-info,
.jqx-info {
   background-color: blue;
}

/* font-awesome icon gear */
body
   > div:nth-of-type(1)
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > a
   > svg {
   width: 1.5em;
   height: 1.5em;
   color: rgb(250, 245, 198);
   margin-top: 12px;
   margin-right: -32px;
   transition: all 0.5s ease-in-out;
}

body
   > div:nth-of-type(1)
   > header:nth-of-type(1)
   > section:nth-of-type(3)
   > a
   > svg:hover {
   width: 1.75em;
   height: 1.75em;
   color: yellow;
   cursor: pointer;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* styling in body                                                    */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* cherry blossom image  */

body > div > img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: var(--headerHeightP20);
   border-radius: 15px;
   width: 650px;
}

/* Separation between chairHeader table and 'Set Additional Properties' Button */
body > div:nth-of-type(1) > div > div > div > div:nth-of-type(3) {
   margin-top: 1px;
}

body > div:nth-of-type(1) > div {
   margin-top: var(--headerHeightP20);
}

/* the file input element */
body > div > div > div > input {
   font-family: "Josefin Sans", monospace;
   width: 260px;
   height: 20px;
   border: black 1px solid;
   border-radius: 5px;
   margin-bottom: 9px;
}

/* overall structure of the body block is two sections running side-by-side */
body > div:nth-of-type(1) > div {
   display: flex;
   flex-direction: row;
}
/* Section that holds the data cleansing block */
body > div:nth-of-type(1) > div > section:nth-of-type(1) {
   margin-right: 2px;
   padding: 2px;
}

/* Section that holds the data table and maybe google_maps block */
body > div:nth-of-type(1) > div > section:nth-of-type(2) {
   padding: 2px;
}

body > div:nth-of-type(1) > div > section:nth-of-type(1) > fieldset > legend {
   font-size: 0.7em;
}

/* input label choose file styling */
body
   > div:nth-of-type(1)
   > div
   > section:nth-of-type(1)
   > fieldset
   > div:nth-of-type(1)
   > label {
   cursor: pointer;
   font-family: "Josefin Sans", monospace;
   font-size: 0.8em;
   font-weight: 700;
   color: black;
   background: -webkit-linear-gradient(
      top,
      #ffffff 0%,
      #efeff1 1%,
      #ededf0 4%,
      #d2d2d8 100%
   );
   display: inline-block;
   width: 326px;
   height: 20px;
   border-radius: 3px;
   text-align: center;
   padding-top: 11px;
   border-color: #000000;
   margin-bottom: 2px;
}

/* input label choose file styling */
body
   > div:nth-of-type(1)
   > div
   > section:nth-of-type(1)
   > fieldset
   > div:nth-of-type(1)
   > label:hover {
   background: -webkit-linear-gradient(
      top,
      #058cf5 0%,
      #0385f3 19%,
      #0167e9 72%,
      #015de6 100%
   );
   color: white;
}

/* formatting in myapping myPanel */
body
   > div:nth-of-type(1)
   > div
   > section:nth-of-type(1)
   > div:nth-of-type(2)
   > div:nth-of-type(1)
   > div
   > div:nth-of-type(1)
   > p {
   margin-top: 0px;
   margin-bottom: 0px;
}

/* formatting in upload myPanel */
body
   > div:nth-of-type(1)
   > div
   > section:nth-of-type(1)
   > fieldset
   > div:nth-of-type(5)
   > div:nth-of-type(1)
   > div
   > div:nth-of-type(1)
   > p {
   margin-top: 0px;
   margin-bottom: 0px;
}

@keyframes scaleyBird {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(0.33);
   }
   100% {
      transform: scale(1);
   }
}
@keyframes scaleyBirdR {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(0.33);
   }
   100% {
      transform: scale(1);
   }
}

/* https://color.adobe.com/ */
/* color pallete: Fiestaware */
/* #beach #bright #fiesta #fiestaware #summer #tropical */
/* Color Theme Swatches in Hex */
/* .Fiestaware-1-hex { color: #C9D44C; }
.Fiestaware-2-hex { color: #FC9934; }
.Fiestaware-3-hex { color: #BF0126; }
.Fiestaware-4-hex { color: #FDDA69; }
.Fiestaware-5-hex { color: #68D9CD; } */

/* Color Theme Swatches in RGBA */
/* .Fiestaware-1-rgba { color: rgba(200, 212, 75, 1); }
.Fiestaware-2-rgba { color: rgba(252, 152, 51, 1); }
.Fiestaware-3-rgba { color: rgba(191, 1, 38, 1); }
.Fiestaware-4-rgba { color: rgba(252, 218, 105, 1); }
.Fiestaware-5-rgba { color: rgba(103, 216, 204, 1); } */

/* Color Theme Swatches in HSLA */
/* .Fiestaware-1-hsla { color: hsla(64, 61, 56, 1); }
.Fiestaware-2-hsla { color: hsla(30, 97, 59, 1); }
.Fiestaware-3-hsla { color: hsla(348, 98, 37, 1); }
.Fiestaware-4-hsla { color: hsla(45, 96, 70, 1); }
.Fiestaware-5-hsla { color: hsla(173, 59, 62, 1); }  */
